<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183204526778-83qmchdohot7kqg3jamg4qlsl3k84eed.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183204526778-83qmchdohot7kqg3jamg4qlsl3k84eed</string>
	<key>API_KEY</key>
	<string>AIzaSyCBt-Vaun_16Qn8jOBuVWvh0d5WxwSo1ww</string>
	<key>GCM_SENDER_ID</key>
	<string>183204526778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todolistapp</string>
	<key>PROJECT_ID</key>
	<string>todolist-a039d</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-a039d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183204526778:ios:7934699f8b310b93fde083</string>
</dict>
</plist>